.service-hero {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: flex-start;
    align-content: center;
    column-gap: 4rem;
    row-gap: 2rem;
    padding-top: 16rem;
    @include respond(tab) {
        grid-template-columns: 1fr;
    } 

    & > h2 {
        grid-column: 1/2;
        text-transform: none;
    }

    &__content {
        margin-bottom: 8rem;
        grid-column: 2/3;
        grid-row: 2/3;
        & > p {margin-bottom: 2rem;}

        @include respond(tab) {
            grid-column: 1/2;
            grid-row: 3/4;
        } 

    }
}

.service-services  {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    & > h2,h6 {
        text-align: center;
    }

    & > h2 {
        margin-bottom: 2rem;
    }

    &__gray {
        background-color: $c-gray-l;
    }
    &__orange {
        color: $c-white;
        background-color: $c-orange-m;
    }
}


.black-section {
    background-color: $c-black;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 8rem;
    
    align-items: center;
    
    @include respond(tab) { grid-template-columns: 1fr;}

    & > img {
        max-height:700px;
        padding:2rem;
        @include respond(desktop){ max-height: 650px;}
        @include respond(desktop-small){ max-height: 600px;}
        @include respond(tab-big){ max-height: 550px;}
        @include respond(tab){ max-height: 500px;}
        @include respond(tab) { 
            max-height: 100%;
            height: auto;
            width: 100%;
            padding:0rem;
        }
    }
    

    &__content {
        color: $c-white;
        &-imgs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: start;
            margin-bottom: 4rem;
            @include respond(desktop-big) {
                grid-template-columns: 1fr;
                row-gap: 1.5rem;
                margin-bottom: 2rem;
            }

        }

        &-title {
            margin-bottom: 2.5rem;
        }

        &-box {
            margin-bottom: 2.5rem;
            & > h3 { 
                font-size: 3rem;
                font-weight: 500;
                margin-bottom: 1rem;
                @include respond(tab) {
                    font-size: 2.5rem;
                }
            }

            & > p {
                font-size: 2.25rem;
                @include respond(tab) {
                    font-size: 2rem;
                }
            }
        }
        &-paragraph {
            
            
        }
    }
}