.a-slideInLeft { animation: slideInLeft; @include respond(tab){ animation: slideInUp; } }
.a-slideInRight { animation: slideInRight; @include respond(tab){ animation: slideInUp; } }


.a-t-300  { animation-duration: 300ms; }
.a-t-400  { animation-duration: 400ms; }
.a-t-500  { animation-duration: 500ms; }
.a-t-600  { animation-duration: 600ms; }
.a-t-700  { animation-duration: 700ms; }
.a-t-800  { animation-duration: 800ms; }
.a-t-900  { animation-duration: 900ms; }
.a-t-1000{ animation-duration: 1000ms; }



//Underlie
.underline {
    display: inline;
position: relative;
overflow: hidden;

    &__orange {
        &:after { background: $c-orange-m; }
    }

    &__white {
        &:after { background: $c-white }
    }
&:after {
    content: "";
    position: absolute;
    z-index: 100;
    right: 0;
    width: 0;
    bottom: -1px;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    }
    
    &:hover:after,
    &:focus:after,
    &:active:after {
    left: 0;
    right: auto;
    width: 100%;
    }
}
