.home-ms {
    
    background-image: linear-gradient(to bottom, $c-white, $c-gray-l);
    position: relative;
    //overflow-x: hidden;
    &__content {
        max-width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: center;
        
        @include respond(desktop) {
            max-width: 100%;
        }

        h2{ z-index: 100; }

        &-grid {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(8,minmax(70px,max-content));
            gap: 3rem;
            padding: 10rem 0;
            @include respond(tab) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(1,1fr);
                padding: 5rem 0;
            }

            &--item {
                background-color: $c-white;
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;
                align-content: center;
                row-gap: 2rem;
                box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                padding: 6rem 4rem;
                border-radius: 2rem;
                z-index: 5;
                
                @include respond(tab) {
                    padding: 3rem 2rem;
                    row-gap: 1rem;
                }

                & > span {
                    font-size: 7rem;
                    font-weight: 500;
                    color: $c-orange-m;
                    @include respond(tab) {
                        font-size: 4rem;
                    }
                }

                & > h3 {
                    color: $c-black;
                    font-size: 4rem;
                    font-weight: 600;
                    @include respond(tab) {
                        font-size: 3rem;
                    }
                }

                


                &:nth-child(1){
                    grid-row: 1/4;

                    @include respond(tab) {
                        grid-row: 1/2;
                    }

                }

                &:nth-child(2) {
                    grid-row: 3/6;
                    @include respond(tab) {
                        grid-row: 2/3;
                    }
                    
                }
                
                &:nth-child(3){
                    grid-row: 5/8;

                    @include respond(tab) {
                        grid-row: 3/4;
                    }
                }
            }
        }
    }

    // home-ms__svg-1
    &__svg{
        &-1 {
            position: absolute;
            top: 4rem;
            right: -600px;
            z-index: 1;
            @include respond(tab) {
                top: 0;
                height: 700px;
                right: -600px;
            }
        }
        &-2 {
            position: absolute;
            top: 4rem;
            right: -650px;
            z-index: 2;
            @include respond(tab) {
                top: 0;
                height: 700px;
                right: -600px;
            }
        }

        &-3 {
            display: block;
                position: absolute;
                bottom: 300px;
                right: 0;
                z-index: 2;
            
            @include respond(tab) {
                display: none;
            }
        }
    }

}